volumes:
  grafana_data:
  prometheus_data:

networks:
  mynet1:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
          ip_range: 172.28.5.0/24
          gateway: 172.28.5.254


services:

  prometheus:
    image: prom/prometheus
    networks:
      - mynet1
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - /etc/prometheus/ipmi_targets.yml:/etc/prometheus/ipmi_targets.yml
      - /etc/hosts:/etc/hosts
    ports:
      - "9090:9090"

  loki:
    image: grafana/loki
    networks:
      - mynet1
    volumes:
      - ./loki/config.yml:/etc/loki/config.yml
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "3"
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/config.yml

  grafana:
    image: grafana/grafana
    networks:
      - mynet1
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/etc/grafana/dashboards
      - /etc/hosts:/etc/hosts
    ports:
      - "3000:3000"

  gitlab-ci-pipelines-exporter:
    image: mvisonneau/gitlab-ci-pipelines-exporter
    networks:
      - mynet1
    volumes:
      - ./gitlab-ci-pipelines-exporter/config.yml:/etc/config.yml
    env_file: .env
    ports:
      - "8080:8080"
    command: run --config /etc/config.yml
