global:
  scrape_interval:     15s 
  evaluation_interval: 15s
  external_labels:
    instance: prometheus-local

scrape_configs:

# SYSTEMD-EXPORTER

  - job_name: 'systemd_exporter'
    scrape_interval: 15s
    static_configs:
      - targets: 
        - 'rmo-pk2-dev-2:9558'
        - 'server-db-dev-2:9558'
        - 'upnki-01-dev-2:9558'
        - 'rmo-processing-dev-2:9558'
        - 'bsn1-dev-2:9558'
        - 'bsn2-dev-2:9558'
        - 'upnki-02-dev-2:9558'
        - 'rmo-pk1-dev-2:9558'
        - 'lib-builder-dev-2:9558'
        - 'management-server-dev-2:9558'
        labels:
          contour: 'DEV 2'
        
      - targets:
        - 'rmo-pk2-prePROD:9558'
        - 'server-db-prePROD:9558'
        - 'upnki-01-prePROD:9558'
        - 'rmo-processing-prePROD:9558'
        - 'bsn1-prePROD:9558'
        - 'bsn2-prePROD:9558'
        - 'upnki-02-prePROD:9558'
        - 'rmo-pk1-prePROD:9558'
        - 'lib-builder-prePROD:9558'
        - 'management-server-prePROD:9558'
        labels:
          contour: 'prePROD'

      - targets:
        - 'upnki-01-prod:9558'
        - 'upnki-02-prod:9558'
        - 'server-db-prod:9558'
        - 'management-server-prod:9558'
        - 'storage-server-prod:9558'
        - 'pk2-bsn2-prod:9558'
        - 'pk1-bsn1-prod:9558'
        - 'pk2-bsn1-prod:9558'
        - 'rmo-processing-prod:9558'
        - 'rmo-pk1-prod:9558'
        - 'rmo-pk2-prod:9558'
        labels:
          contour: 'PROD'

# NODE-EXPORTER

  - job_name: 'node_exporter'
    scrape_interval: 15s
    static_configs:
      - targets:
        - 'rmo-pk2-dev-2:9100'
        - 'server-db-dev-2:9100'
        - 'upnki-01-dev-2:9100'
        - 'rmo-processing-dev-2:9100'
        - 'bsn1-dev-2:9100'
        - 'bsn2-dev-2:9100'
        - 'upnki-02-dev-2:9100'
        - 'rmo-pk1-dev-2:9100'
        - 'lib-builder-dev-2:9100'
        - 'management-server-dev-2:9100'
        labels:
          contour: 'DEV 2'
      
      - targets:
        - 'rmo-pk2-prePROD:9100'
        - 'server-db-prePROD:9100'
        - 'upnki-01-prePROD:9100'
        - 'rmo-processing-prePROD:9100'
        - 'bsn1-prePROD:9100'
        - 'bsn2-prePROD:9100'
        - 'upnki-02-prePROD:9100'
        - 'rmo-pk1-prePROD:9100'
        - 'lib-builder-prePROD:9100'
        - 'management-server-prePROD:9100'
        labels:
          contour: 'prePROD'

      - targets:
        - 'upnki-01-prod:9100'
        - 'upnki-02-prod:9100'
        - 'server-db-prod:9100'
        - 'management-server-prod:9100'
        - 'storage-server-prod:9100'
        - 'pk2-bsn2-prod:9100'
        - 'pk1-bsn1-prod:9100'
        - 'pk2-bsn1-prod:9100'
        - 'rmo-processing-prod:9100'
        - 'rmo-pk1-prod:9100'
        - 'rmo-pk2-prod:9100'
        - 'zip-pk2-bsn2-prod:9100'
        - 'BUA-XY:9100'
        labels:
          contour: 'PROD'

# Database exporters

  - job_name: 'postgres_exporter'
    scrape_interval: 15s
    static_configs:
      - targets: ['server-db-dev-2:9187']
        labels:
          contour: 'DEV 2'
      - targets: ['server-db-prePROD:9187']
        labels:
          contour: 'prePROD'
      - targets: ['server-db-prod:9187']
        labels:
          contour: 'PROD'

  - job_name: 'sql_exporter'
    scrape_interval: 15s
    static_configs:
      - targets: ['server-db-dev-2:9399']
        labels:
          contour: 'DEV 2'
      - targets: ['server-db-prePROD:9399']
        labels:
          contour: 'prePROD'
      - targets: ['server-db-prod:9399']
        labels:
          contour: 'PROD'

# ----------------


  - job_name: ipmi_exporter
    scrape_interval: 1m
    scrape_timeout: 30s
    metrics_path: /ipmi
    scheme: http
    file_sd_configs:
    - files:
      - /etc/prometheus/ipmi_targets.yml
      refresh_interval: 5m
    relabel_configs:
    # Берём адрес цели и передаём его в параметр target
    - source_labels: [__address__]
      regex: (.*)
      target_label: __param_target

    # Делаем instance равным адресу цели
    - source_labels: [__param_target]
      target_label: instance

    # Подставляем адрес ipmi_exporter контейнера
    - target_label: __address__
      replacement: 172.17.0.1:9290

    # Используем label "module" из targets.yml как параметр запроса
    - source_labels: [module]
      target_label: __param_module

  - job_name: 'gitlab-ci-pipelines-exporter'
    scrape_interval: 10s
    scrape_timeout: 5s
    static_configs:
      - targets: ['gitlab-ci-pipelines-exporter:8080']
